.made {
	&__container {
		position: relative;
		background: $green;
		min-height: 1228px;
		z-index: 1;
	}
	&__recipes {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 529px;
		margin-bottom: 60px;
	}
}
.title-box {
	&__sub-title {
		font-weight: 800;
		font-size: 3rem;
		line-height: 3.7rem;
		letter-spacing: 0.04em;
		text-align: center;
		text-transform: uppercase;
		color: $whiteText;
		padding-top: 60px;
		margin-bottom: 12px;
	}
	&__title {
		font-family: 'SeymourOne';
		font-size: 3.6rem;
		line-height: 4.5rem;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $whiteText;
		margin-bottom: 111px;
	}
}
.recipes {
	&__img {
		max-width: 490px;
		width: 100%;
		height: 490px;
		filter: drop-shadow(0 -39px 0 #f8d24e);
	}
}
.right-box {
	margin-right: 115px;
	&__desc {
		font-size: 1.4rem;
		line-height: 1.94;
		letter-spacing: 0.04em;
		color: #fcfcfc;
		max-width: 463px;
		min-height: 257px;
	}
	&__btn {
		display: flex;
		align-items: center;
		margin-top: 48px;
		& svg {
			margin-left: 11.2px;
		}
	}
}
// =============Testimonials=========================
.testimonials {
	&__holder {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		max-width: 368px;
		min-height: 65px;
		display: flex;
		align-items: center;
		flex-direction: column;

		& span {
			font-weight: 700;
			font-size: 5.8rem;
			line-height: 7.1rem;
			text-align: center;
			letter-spacing: 0.04em;
			color: $whiteText;
			margin-bottom: 16px;
		}
	}
	&__icon-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background: $yellow;
		border-radius: 100px;
		margin-bottom: 40px;
	}
	&__icon {
    width: 36px;
		height: 36px;
	}
	&__desc {
		line-height: 1.76;
		text-align: center;
		letter-spacing: 0.02em;
		color: $whiteText;
	}
}
