.presentation {
	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: 598px;
		background: $green;
	}
	&__left-side {
		position: relative;
		z-index: 2;
	}
	&__title-inner {
		max-width: 367px;
		margin-top: 58px;
	}
	&__title {
		display: block;
		font-family: 'SeymourOne';
		font-weight: 400;
		font-size: 3.8rem;
		line-height: 4.8rem;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $whiteText;
		margin-bottom: 28px;
	}
	&__button-inner {
		margin-bottom: 42px;
		display: flex;
		align-items: center;
		gap: 12px;
	}
	&__products-btn {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.29;
		padding: 12px 34px;
		background: $green;
		border: 2px solid $yellow;
		&:hover {
			border: 2px solid $btn-bg-green;
			background: inherit;
		}
		&:focus {
			border: 2px solid $btn-bg-green;
			background: inherit;
			color: $whiteText;
		}
		&:active {
			border: 2px solid $grey;
			background: inherit;
			color: inherit;
		}
	}
	&__made-btn {
		color: $yellow;
		background: inherit;
		text-decoration: underline;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.7rem;
		padding: 12px 21px 11px 22px;
		&:hover {
			color: $btn-bg-green;
			background: inherit;
		}
		&:focus {
			background: inherit;
			color: $whiteText;
		}
		&:active {
			background: inherit;
			color: $grey;
		}
	}
	&__title-box {
		display: flex;
		align-items: center;
	}
	&__img-dots {
		position: absolute;
		max-width: 1198px;
		width: 100%;
		height: auto;
		top: 203px;
		left: 0;
		min-height: 384px;
	}
	&__dots-left {
		display: none;
	}
	&__dots-right {
		display: none;
	}
	&__right-side {
		display: flex;
		margin-top: 33px;
		padding-right: 61px;
		& img {
			max-width: 447px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: drop-shadow(0 -2rem 4rem $white);
		}
	}
}
.title-box {
	&__text-inner {
		width: 200px;
		min-height: 80px;
		margin-left: 14px;
	}
	&__desc {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		color: $whiteText;
		margin-bottom: 25px;
	}
	&__arrow {
		min-height: 17px;
		& img {
			padding: 5px 0;
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: translateX(10px) scaleX(1.4);
			}
		}
	}
}
.right-side {
	&__quantity {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: end;
		position: absolute;
		top: 56px;
		right: 16px;
		& span {
			font-weight: 900;
			font-size: 4.6rem;
			line-height: 5.6rem;
			letter-spacing: 0.04em;
			margin-bottom: 4px;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: $whiteText;
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
