.presentation {
	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: 590px;
		background: $green;
	}
	&__left-side {
		position: relative;
		z-index: 2;
	}
	&__title-inner {
		max-width: 367px;
		margin-top: 58px;
	}
	&__title {
		font-family: 'SeymourOne';
		font-weight: 400;
		font-size: 3.8rem;
		line-height: 4.8rem;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $whiteText;
		margin-bottom: 28px;
	}
	&__button-inner {
		margin-bottom: 42px;
	}
	&__products-btn {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.29;
		padding: 12px 34px;
		background: $green;
		border: 2px solid $yellow;
		margin-right: 12px;
		&:hover {
			border: 2px solid $btn-bg-green;
			background: inherit;
		}
		&:focus {
			border: 2px solid $btn-bg-green;
			background: inherit;
			color: $whiteText;
		}
		&:active {
			border: 2px solid $grey;
			background: inherit;
			color: inherit;
		}
	}
	&__made-link {
		color: $yellow;
		text-decoration: underline;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.7rem;
		&:hover {
			color: $btn-bg-green;
			text-decoration: underline;
		}
		&:focus {
			color: $white;
			text-decoration: underline;
		}
		&:active {
			color: $grey;
			text-decoration: underline;
		}
	}
	&__title-box {
		display: flex;
		align-items: center;
	}
	&__img-dots {
		position: absolute;
		max-width: 1198px;
		width: 100%;
		height: auto;
		top: 203px;
    left: 0;
    min-height: 384px;
	}
	&__right-side {
		display: flex;
		position: relative;
		top: 0;
		left: 0;
	}
}
.title-box {
	&__text-inner {
		margin-left: 14px;
	}
	&__desc {
		max-width: 200px;
		min-height: 80px;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		color: $whiteText;
		margin-bottom: 32px;
	}
	&__arrow {
		min-height: 17px;
		transition: all 0.2s ease-in-out;
		& img {
			&:hover {
				transform: translateX(10px) scaleX(1.4);
			}
		}
	}
}
.right-side {
	&__img-wrp {
		max-width: 484px;
		min-height: 590px;
	}
	&__img {
		max-width: 484px;
		width: 100%;
		height: auto;
		object-fit: cover;
		margin: 33px 93.05px 0 0;
		filter: drop-shadow(0 -2rem 4rem $white);
	}
	&__quantity {
		display: flex;
		flex-direction: column;
		align-items: end;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 56px;
		& span {
			font-weight: 900;
			font-size: 4.6rem;
			line-height: 5.6rem;
			letter-spacing: 0.04em;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: $whiteText;
	}
}
