.products {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	&__img-bg {
		position: absolute;
		top: -8px;
		left: 0;
		max-width: 1200px;
		width: 100%;
		min-height: 1057px;
		object-fit: cover;
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 13px;
	}
	&__title-inner {
		margin-top: 60px;
	}
	&__sub-title {
		font-weight: 800;
		font-size: 3rem;
		line-height: 3.7rem;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	&__title {
		font-family: 'SeymourOne';
		font-size: 3.6rem;
		line-height: 4.5rem;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin-bottom: 303px;
	}
	&__card {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		margin-bottom: 59px;
	}
	.card {
		position: relative;
		width: 100%;
		&__inner {
			position: relative;
			max-width: 370px;
			width: 100%;
		}
		&__img {
			max-width: 300px;
			width: 100%;
			height: auto;
			object-fit: cover;
			&_green {
				position: absolute;
				top: -167px;
    		right: 35px;
				filter: drop-shadow(0 17px 0 #9cbe8f);
			}
			&_yellow {
				position: absolute;
				top: -167px;
    		right: 35px;
				filter: drop-shadow(0 17px 0 #f8d24e);
			}
			&_brown {
				position: absolute;
				top: -167px;
    		right: 35px;
				filter: drop-shadow(0 17px 0 #d5753f);
			}
		}

		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			min-height: 535.51px;
			border-radius: 24px;
			&_green {
				background: #aec6a5;
				border-radius: 24px;
				width: 100%;
			}
			&_yellow {
				background: #efd478;
				border-radius: 24px;
			}
			&_brown {
				background: #d6936d;
			}
		}
		&__title {
			font-weight: 700;
			font-size: 3rem;
			line-height: 3.7rem;
			text-align: center;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin-bottom: 65px;
			padding-top: 166.15px;
		}
		&__desc {
			max-width: 246.44px;
			min-height: 147px;
			font-size: 16px;
			line-height: 1.76;
			text-align: center;
			letter-spacing: 0.04em;
			margin-bottom: 60px;
		}
		&__arrow {
			max-width: 17px;
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: translateX(10px) scaleX(1.4);
			}
			&:focus {
				transform: translateX(10px) scaleX(1.4);
			}
			&:active {
				transform: translateX(10px) scaleX(1.4);
			}
		}
	}
}
