.reviews {
	position: relative;
	max-width: 1200px;
	height: 919px;
	margin: 0 auto;
	&__img-bg {
		position: absolute;
		top: -92px;
		left: 0;
		max-width: 1200px;
		width: 100%;
		min-height: 1057px;
		object-fit: cover;
		z-index: -1;
	}
	& .mySwiper {
		position: relative;
		z-index: 3;
		top: -92px;
	}
}

