@media (max-width: 768px) {
	.locations {
		&__container {
			min-height: 327px;
			margin-top: 0;
			padding: 0 32px;
		}
		&__wrp {
			top: -306px;
			gap: 16px;
		}
		&__card-inner {
			max-width: 224px;
			height: 528px;
		}
		&__button {
			margin-top: 284px;
		}
	}
	.card-loc {
		&__inner {
			padding: 40px 24px;
		}
		&__adress-box {
			margin-bottom: 26px;
		}
	}
	.adress-box {
		&__title {
			font-size: 1.4rem;
			margin-bottom: 12px;
		}
		&__link {
			font-size: 1.4rem;
			letter-spacing: 0.04em;
		}
	}
	.schedule-box {
		&__week {
			font-size: 1.4rem;
		}
		&__opening {
      font-size: 1.4rem;
		}
	}
	.contacts-box {
		&__tel {
      font-size: 1.4rem;
		}
		&__email {
      font-size: 1.4rem;
		}
	}
}
