.footer {
	&__container {
		background: $green;
		padding-top: 100px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 54px;
	}

	&__title-inner {
	}

	&__right-side-inner {
		max-width: 340px;
	}

	&__social {
		display: flex;
		justify-content: flex-end;
		gap: 30px;
		margin-bottom: 40px;
	}

	&__contacts {
		display: flex;
		align-items: center;
	}

	&__copyright {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.86;
		letter-spacing: 0.02em;
		color: #7a7a7a;
		text-align: center;
	}
}
.title-inner {
	&__title {
		font-size: 3rem;
		line-height: 3.7rem;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $whiteText;
	}
	&__subtitle {
		font-weight: 700;
		font-size: 5.8rem;
		line-height: 7.1rem;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $whiteText;
	}
}
.social {
	&__img {
		width: 34px;
		height: 34px;
    background: $yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        fill: $white;
      }
    & img {
      width: 20px;
      height: 20px;
    }
	}
}
.footer-contacts {
	&__text {
		font-weight: 700;
		line-height: 1.86;
		letter-spacing: 0.02em;
	}

	&__tel {
		color: $whiteText;
		&:hover {
			text-decoration: underline;
		}
		&:active {
			text-decoration: underline;
			opacity: 0.6;
      color: $grey;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.footer-line {
	border: 1px solid $white;
	margin-bottom: 12px;
}
