.header {
	&__menu {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 27px;
	}
	&__nav {
		min-height: 73px;
	}
	&__button {
		margin-top: 28px;
		display: flex;
		align-items: center;
		& svg {
			margin-left: 7.23px;
		}
	}
	&__container {
		background: $green;
		.top-nav {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 27px;
			color: #fff;
		}
		.menu {
			&__item {
				margin: 0 1rem;
				overflow: hidden;
			}
			&__link {
				color: $whiteText;
				&:hover {
					text-decoration: underline;
					color: $yellow;
				}
				&:active {
					text-decoration: underline;
					color: $btn-bg-green;
				}
				&:focus {
					text-decoration: underline;
				}
			}
		}
		.menu-button-container {
			display: none;
			height: 100%;
			width: 32px;
			cursor: pointer;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		#menu-toggle {
			display: none;
		}

		.menu-button,
		.menu-button::before,
		.menu-button::after {
			display: block;
			background-color: #fff;
			height: 4px;
			width: 32px;
			transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
			border-radius: 2px;
		}

		.menu-button::before {
			content: '';
			margin-top: -7px;
		}

		.menu-button::after {
			content: '';
			margin-top: 10px;
		}

		#menu-toggle:checked + .menu-button-container .menu-button::before {
			margin-top: 0px;
			transform: rotate(405deg);
		}

		#menu-toggle:checked + .menu-button-container .menu-button {
			background: $green;
		}

		#menu-toggle:checked + .menu-button-container .menu-button::after {
			margin-top: -4px;
			transform: rotate(-405deg);
		}

		@media (max-width: 768px) {
			.top-nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.menu-button-container {
				display: flex;
			}
			.menu {
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 73px;
				width: 100%;
				z-index: 4;
				&__item {
					display: flex;
					justify-content: center;
					padding-bottom: 40px;
					margin: 0 auto;
					width: 100%;
					color: $whiteText;
					background-color: $green;
					&:first-child {
						padding-top: 76px;
					}
					&:last-child {
						padding-bottom: 0;
					}
					& a {
						&:hover {
							color: $blackText;
						}
					}
				}
			}
			#menu-toggle ~ .menu {
				display: none;
				transition: 0.4s all;
			}
			#menu-toggle:checked ~ .menu {
				display: block;
				background: $green;
				height: 100vh;

				font-weight: 700;
				font-size: 4.8rem;
				line-height: 5.9rem;
				color: #fcfcfc;
			}
		}
	}
}
