body {
  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}
// Стили основного ограничивающего контейнера ==========================================================
[class*="__container"] {
  max-width: $containerWidth + $mainOffset * 2;
  margin: 0 auto;
  padding: 0 $mainOffset;
}
// Оболочка =====================================================================================================
.wrapper {
  min-height: 100%;
  overflow: hidden;
}