$maxWidth: 1920; // Максимальная ширина страницы

$containerWidth: 1160px; // ширина контейнера из макета
$mainOffset: 15px; // отступы безопасности для контейнера

$fontSize: 1.6rem; // Размер шрифта по умолчанию
$fontFamily: ''; // Шрифт по умолчанию

// Цвета ===========================================================================================
$main: #000;
$black: #000;
$white: #fff;


