$maxWidth: 1920; // Максимальная ширина страницы

$containerWidth: 1168px; // ширина контейнера из макета
$mainOffset: 16px; // отступы безопасности для контейнера

$fontSize: 1.6rem; // Размер шрифта по умолчанию
$fontFamily: 'Montserrat', sans-serif; // Шрифт по умолчанию

// Цвета ===========================================================================================
$black: #131313;
$white: #FCFCFC;
$main: $black;
$yellow: #F8D24E;
$green: #97AF8D;
$grey: #ABABAB;
$pink: #D6936D;
$btn-bg-green: #0A8817;
// =========text color==================
$whiteText: $white;
$blackText: $black;
