$maxWidth: 1920; // Максимальная ширина страницы

$containerWidth: 1168px; // ширина контейнера из макета
$mainOffset: 16px; // отступы безопасности для контейнера

$fontSize: 1.6rem; // Размер шрифта по умолчанию
$fontFamily: 'Montserrat', sans-serif; // Шрифт по умолчанию

// Цвета ===========================================================================================
$black: #131313;
$white: #fcfcfc;
$main: $black;
$yellow: #f8d24e;
$green: #84a278;
$grey: #ababab;
$pink: #d6936d;
$btn-bg-green: #0a8817;
$line: #e1e1e1;
// =========text color==================
$whiteText: $white;
$blackText: $black;

// ======burger menu============
$timing-function: cubic-bezier(0.19, 1, 0.22, 1);
$nav-width-desktop: 100em;
$nav-width-mobile: 25em;
$nav-item-nb: 6;
